.img {
    height: 100%;
    width: 100%;
}

.imgBox{
    height: 100px;
}

#availableCharacters, #userCharacter, #defender{
    width: 60%;
    height: 100%
}

#availableEnemies{
    height: 100%;
    width: 60%
}
